$boxShadowSM: 0 0 0.5em black 
$lightGrey: rgba(255, 255, 255, 0.43)
$B: bold

\:root
	font-weight: $B
h1 
	color: white
	margin: 0.2em
	font-size: 4em

body
	width: 100%
	height: 100%
	font-weight: $B
	text-align: center
	background: #4b6cb7 
	font-family: 'Allerta Stencil', sans-serif
	background: linear-gradient(to left, #4b6cb7 , #182848) 
	background: -webkit-linear-gradient(to left, #4b6cb7 , #182848) 

input 
	width: 60px
	height: 60px
	font-weight: $B
	background-color: grey	
	box-shadow: $boxShadowSM
	font-family: 'Allerta Stencil', sans-serif

button
	margin: 5px
	width: 60px
	height: 60px
	font-size: 2vh
	font-weight: $B
	text-align: center	
	background-color: grey	
	box-shadow: 0 0 1em black
	font-family: 'Allerta Stencil', sans-serif

#time
	width: 85%
	height: 2em
	font-size: 1.7vh
	font-weight: $B
	padding-top: 1em
	margin-left: 1em
	text-align: center
	border: 2px solid black
	box-shadow: $boxShadowSM
	background-color: $lightGrey

#txtNumber
	width: 85%
	font-size: 2vh
	font-weight: $B
	margin-bottom: 1em
	text-align: center
	border: 2px solid black
	background-color: $lightGrey

#start
	margin-right: 5px
	background-color: rgba(129, 177, 129, 0.55)
	font-size: 14px

#stop
	margin-right: 5px
	margin-left: 5px
	background-color: rgba(209, 128, 128, 0.35)
	font-size: 14px


.panel 
	height: 27em
	width: 15em
	padding: 2em
	margin: 5em 0 0 68%
	border: 2px solid black
	box-shadow: 0 0 1em black

.glass
	float: left
	margin: 5em
	width: 40em
	height: 31em
	border: 4px solid black
	background-color: lightblue
	box-shadow: 0 0 2em black

.microwave
	width: 72em
	height: 40em
	border-radius: 4%
	margin-left: 10%
	margin-right: auto
	background: #283048 
	border: 6px solid black
	box-shadow: 0 0 5em black
	background: linear-gradient(to left, #54575f, #9d9d9d) 
	background: -webkit-linear-gradient(to left, #283048 , #859398) 

@media only screen and (max-width: 1400px)
	.microwave
		margin-left: 1em	

@media only screen and (min-width: 1600px)
	.microwave
		margin-left: 20%

.handle 
	width: 3em
	height: 10em
	float: right
	margin-top: 25%
	background-color: black
	box-shadow: 0 0 2em black
	border-radius: 20% 0 0 20%