:root {
  font-weight: bold; }

h1 {
  color: white;
  margin: 0.2em;
  font-size: 4em; }

body {
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  background: #4b6cb7;
  font-family: "Allerta Stencil", sans-serif;
  background: linear-gradient(to left, #4b6cb7, #182848);
  background: -webkit-linear-gradient(to left, #4b6cb7, #182848); }

input {
  width: 70px; /* changed from 60 to 70 - whl */
  height: 70px; /* changed from 60 to 70 - whl */
  font-weight: bold;
  background-color: grey;
  box-shadow: 0 0 0.5em black;
  font-family: "Allerta Stencil", sans-serif; }

button {
  margin: 5px 1px 5px 6px;
  width: 70px; /* changed from 60 to 70 - whl */
  height: 70px; /* changed from 60 to 70 - whl */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: grey;
  box-shadow: 0 0 1em black;
  font-family: "Allerta Stencil", sans-serif; }

#time {
  width: 90%; /* changed from 85 to 90 - whl */
  height: 2em;
  font-size: 14px;
  margin-bottom: 7px;
  font-weight: bold;
  padding-top: 1em;
  margin-left: 0.8em;
  text-align: center;
  border: 2px solid black;
  box-shadow: 0 0 0.5em black;
  background-color: rgba(255, 255, 255, 0.43); }

#txtNumber {
  width: 90%; /* changed from 85 to 90 - whl */
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.43); }

#start {
  margin-right: 5px;
  background-color: rgba(129, 177, 129, 0.55);
  font-size: 14px; }

#stop {
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgba(209, 128, 128, 0.35);
  font-size: 14px; }

.panel {
  height: 28em; /* changed from 27 to 28 - whl */
  width: 16em; /* changed from 15 to 16 - whl */
  padding: 2em;
  margin: 5em 0 0 68%;
  border: 2px solid black;
  box-shadow: 0 0 1em black; }

.glass {
  float: left;
  position: relative;
  margin: 5em;
  width: 40em;
  height: 32em; /* changed from 31 to 32 - whl */
  border: 4px solid black;
  box-shadow: 0 0 2em black;
  -webkit-perspective: 150px;
  perspective: 2163px;
  overflow: hidden;
  background: url(../img/static.png) no-repeat top left lightblue; }

  .pizza{
  position: absolute;
  top: 73px;
  left: 3px;
  width: 40em;
  height: 40em;
  background: url(../img/pizza.gif) no-repeat center top / contain;
  -webkit-transform: rotateX(76deg);
  transform: rotateX(76deg); }

.microwave {
  width: 72em;
  height: 40em;
  border-radius: 50px;
  margin-left: 10%;
  margin-right: auto;
  background: #283048;
  border: 6px solid black;
  box-shadow: 0 0 5em black;
  background: linear-gradient(to left, #54575f, #9d9d9d);
  background: -webkit-linear-gradient(to left, #283048, #859398); }

@media only screen and (max-width: 1400px) {
  .microwave {
    margin-left: 1em; } }
@media only screen and (min-width: 1600px) {
  .microwave {
    margin-left: 20%; } }
.handle {
  width: 3em;
  height: 10em;
  float: right;
  margin-top: 25%;
  background-color: black;
  box-shadow: 0 0 2em black;
  border-radius: 20% 0 0 20%;
  position: relative; }

/*# sourceMappingURL=styles.css.map */
