body, html{
	height: 100%;
}
body{
	background-color: #222;
	font-family: Arial, 'Sans Serif';
	font-size: 100%;
}
*, *:before, *:after{
	box-sizing:border-box;
}
input{
	border:2px #cccccc solid;
	border-style:outset;
	height: 100px;
	font-size: 1.5em;
}
input:active{
	border-style: inset;
}
.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	height: 100%;
}
.wrap-calcolator{
	-ms-flex-preferred-size:50%;
    flex-basis:50%;
    padding: 3em;
    background-color:#ffffff;
    min-width: 500px;
    max-width: 700px;
    display: -webkit-box;
	display: -ms-flexbox;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	display: flex;
}

.display{
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	border-style: inset;
}
.display input{
	width: 100%;
	padding:0 10px; 
}
#keyboard{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	width: 75%;
}
#keyboard input[type="button"]:hover{
	background-color: #FF611E;
}
#keyboard input[type="button"]{
	-ms-flex-preferred-size:33.3%;
	flex-basis:33.3%;
	background-color: #eeeeee;
}
#keyboard input[type="button"]:first-child, #keyboard input[value="="], #keyboard input[value="c"], #keyboard input[value="."]{
	-webkit-box-ordinal-group:11;
	-ms-flex-order:10;
	order:1;
}
#keyboard input[value="="]{
	-ms-flex-preferred-size:100%;
    flex-basis:100%;
    background-color: #bbb;
}
#operators{
	width: 25%;
}
#operators input:active{
	border-style: inset;
}
#operators input{
	width: 100%;
	background-color: #666666;
	color: #dddddd;
	border-color:#cccccc;
	border-style: outset; 
}
#operators input:hover{
	background-color: #CA3E0B;
}


